<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns = "http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoreload="true"
      throwConfigExceptions="true">

  <targets>
    <target name="file" xsi:type="File"
            fileName="ledpanelclock.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${threadid}|${level}|${message}" />

    <target name="console" xsi:type="ColoredConsole"
            encoding="utf-8"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${threadid}|${level}|${message}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file,console" />
  </rules>
</nlog>