# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Jan 17 2024 20:29:36

# Family & Device:    iCE40HX8K

# Package:            CT256

# ##############################################################################

###IOSet List 46
set_io i_clk100M J3
set_io i_reset_n K11
set_io i_uart_rx L11
set_io o_uart_tx T16
set_io o_led1 M12
set_io o_led2 R16

set_io o_sram_cs T6
set_io o_sram_oe L9
set_io o_sram_wr T7

set_io io_sram_data[0] T8
set_io io_sram_data[1] P7
set_io io_sram_data[2] N9
set_io io_sram_data[3] T9
set_io io_sram_data[4] M9
set_io io_sram_data[5] R9
set_io io_sram_data[6] K9
set_io io_sram_data[7] P9
set_io io_sram_data[8] R10
set_io io_sram_data[9] L10
set_io io_sram_data[10] P10
set_io io_sram_data[11] N10

set_io o_sram_addr[0] N6
set_io o_sram_addr[1] T1
set_io o_sram_addr[2] P4
set_io o_sram_addr[3] R2
set_io o_sram_addr[4] N5
set_io o_sram_addr[5] T2
set_io o_sram_addr[6] P5
set_io o_sram_addr[7] R3
set_io o_sram_addr[8] R5
set_io o_sram_addr[9] T3
set_io o_sram_addr[10] R4
set_io o_sram_addr[11] M7
set_io o_sram_addr[12] N7
set_io o_sram_addr[13] P6
set_io o_sram_addr[14] M8
set_io o_sram_addr[15] T5
set_io o_sram_addr[16] R6
set_io o_sram_addr[17] P8

set_io o_dsp_clk E3
set_io o_dsp_latch H5
set_io o_dsp_oe_n E2

set_io o_dsp_addr[0] D2
set_io o_dsp_addr[1] G5
set_io o_dsp_addr[2] D1
set_io o_dsp_addr[3] G4
set_io o_dsp_addr[4] F4

set_io o_dsp_rgbs[0] E4
set_io o_dsp_rgbs[1] B2
set_io o_dsp_rgbs[2] F5
set_io o_dsp_rgbs[3] B1
set_io o_dsp_rgbs[4] C1
set_io o_dsp_rgbs[5] C2
